main
{
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	overflow: auto;
	text-align: justify;
}
	


body
{
   font-family: sans-serif;
   background-color: white;

}

address
{
	text-align: center;
}

header
{
	border-style: solid;
	border-color: orange;
	background-color: #0047bb

}




nav
{
	background-color: #78a0eb;
		display: block;
	float: center;

	
}


{

	padding: 2%;

	margin-left: 20%;
}

.vsulogo
{
	
	float: left;
	
}

.hbculogo
{
	float: right;
}



footer
{
	padding: 5px;
	border-style: solid;
	border-color: orange;
	background-color: #0047bb
}


/* Styling the Form (Color, Padding, Shadow) */
		form {
			background-color: #ff7300;
			max-width: 500px;
			margin: 50px auto;
			padding: 30px 20px;
			box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
		}

		/* Styling form-control Class */
		.form-control {
			text-align: left;
			margin-bottom: 25px;
		}

		/* Styling form-control Label */
		.form-control label {
			display: block;
			margin-bottom: 10px;
		}

		/* Styling form-control input,
		select, textarea */
		.form-control input,
		.form-control select,
		.form-control textarea {
			border: 1px solid #777;
			border-radius: 2px;
			font-family: inherit;
			padding: 10px;
			display: block;
			width: 95%;
		}

		/* Styling form-control Radio
		button and Checkbox */
		.form-control input[type="radio"],
		.form-control input[type="checkbox"] {
			display: inline-block;
			width: auto;
		}


		.formbutton {
			background-color: #2200ff;
			border: 1px solid #777;
			border-radius: 2px;
			font-family: inherit;
			font-size: 21px;
			display: block;
			width: 100%;
			margin-top: 50px;
			margin-bottom: 20px;
		}


footer div
{
	
	
}